<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>
<%= @post.action.activity.name %>
<%= @post.action.entity.name %>

<% @post.comments.recent.limit(10).all.each do  |c| %>
<%= c.comment%> <%= c.user.email %><br>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
